{% extends "layout.html" %} 
{% block content %}
<div class="wrapper">
    <!-- Sidebar  -->
    {% include 'sidebar.html' %}
    <!-- Page Content  -->
    <div id="content">
        <h2>Orders</h2>
        {% include 'table.html' %} 
        <div class="forms-wrapper">
            <form action="{{url_for('createorder') }}" method="post">
                <h3>Create Order</h3>
                {% if comsg=='Order created successfully'%}
                <div class="mx-8 mt-2 text-success">{{ comsg }}</div> <br>
                {% else %}
                <div class="mx-8 mt-2 text-danger">{{ comsg }}</div> <br>
                {% endif %}
                <div class="field">
                    <label class="custom-label" for="item"
                        >Enter Order ID
                    </label>
                    <input
                        class="text-inputs"
                        type="text"
                        name="ord_id"
                        placeholder=""
                    />
                </div>
                <div class="field">
                    <label class="custom-label" for="item"
                        >Enter Item ID
                    </label>
                    <input
                        class="text-inputs"
                        type="text"
                        name="oitem_id"
                        placeholder=""
                    />
                </div>
                <div class="field">
                    <label class="custom-label" for="item"
                        >Enter Quantity</label
                    >
                    <input
                        class="text-inputs"
                        type="number"
                        name="ord_quantity"
                        placeholder=""
                    />
                </div>
                <div class="field">
                    <label class="custom-label" for="item"
                        >Enter Per Item Price</label
                    >
                    <input
                        class="text-inputs"
                        type="number"
                        name="oitem_ppq"
                        placeholder="Eg. 10rs"
                    />
                </div>

                <button class="submit-button">Create</button>
            </form>

            <form action="{{url_for('updateorder') }}" method="post">
                <h3>Update Order</h3>
                {% if upomsg=='Order updated successfully'%}
                <div class="mx-8 mt-2 text-success">{{ upomsg }}</div> <br>
                {% else %}
                <div class="mx-8 mt-2 text-danger">{{ upomsg }}</div> <br>
                {% endif %}
                <div class="field">
                    <label class="custom-label" for="item"
                        >Enter Order ID</label
                    >
                    <input
                        class="text-inputs"
                        name="up_ord_id"
                        type="number"
                        placeholder=""
                    />
                </div>
                
                <div class="field">
                    <label class="custom-label" for="item"
                        >Enter Item ID</label
                    >
                    <input
                        class="text-inputs"
                        name="up_ord_item"
                        type="number"
                        placeholder=""
                    />
                </div>
                <div class="field">
                    <label class="custom-label" for="item"
                        >Update Quantity</label
                    >
                    <input
                        class="text-inputs"
                        type="number"
                        name="ord_up_quantity"
                        placeholder=""
                    />
                </div>
                <div class="field">
                    <label class="custom-label" for="item"
                        >Update Per Item Price</label
                    >
                    <input
                        class="text-inputs"
                        type="number"
                        name="upd_item_ppq"
                        placeholder="Eg. 10rs"
                    />
                </div>

                <button class="submit-button">Update</button>
            </form>
            <form action="{{url_for('removeorder') }}" method="post">
                <h3>Cancel Order</h3>
                {% if delomsg=='Order Cancelled successfully'%}
                <div class="mx-8 mt-2 text-success">{{ delomsg }}</div> <br>
                {% else %}
                <div class="mx-8 mt-2 text-danger">{{ delomsg }}</div> <br>
                {% endif %}
                <div class="field">
                    <label class="custom-label" for="item"
                        >Enter Order ID</label
                    >
                    <input
                        class="text-inputs"
                        name="cancel_ord"
                        type="number"
                        placeholder=""
                    />
                </div>
                <button class="submit-button red-button">Cancel</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
